body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.first-section, .second-section, .third-section, .fourth-section{
    height: 75vh;
    padding: 0 15vw;
}

.first-section, footer, header {
    background-color: #1F2937;
}

header {
    display: flex;
    height: 10vh;
    padding: 0 15vw;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.first-section {
    display: flex;
    align-items: center;
    
}

.intro-text, .intro-image {
    width: 50%;  /* TEMPORAL FIX FOR FLEX */
    margin: 10vh 0;
}

.intro-text {
    margin-right: 10px;
}

.intro-image {
    background-color: gray;
    height: 35vh;
    margin-left: 10px;
    color: white;
    text-align: center;
    line-height: 35vh;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-subtext, ul {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 10px;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.section-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.container {
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 0 15px;
    justify-content: center;
    align-items: center;
}

.info-image {
    width: 125px;
    height: 125px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.info-text {
    margin-top: 10px;
    color: gray;
}

.third-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-author {
    color: #1F2937;
    font-weight: 600;
    margin-left: 75%;
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 95%;
    height: 25%;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-text {
    color: #E5E7EB;
    font-size: 20px;
}

.text-title {
    font-weight: bold;
}

.modal-button {
    border: 3px solid #E5E7EB;
    border-radius: 10px;
    margin-left: 15px;
}

footer {
    height: 100px;
    color: #E5E7EB;
    text-align: center;
    line-height: 15vh;
}

a {
    color: #3882F6;
}